
{% extends "base.html" %}

{% block content %}

<style>
    .hidden {
        display: none;
    }
    .scrollable-options {
      max-height: 150px; /* Adjust the height as needed */
      overflow-y: auto;
    }
</style>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            {% if messages %}
                                {% for message in messages %}
                                    <script>
                                        Swal.fire({
                                            icon: '{{ message.tags }}',
                                            text: '{{ message }}',
                                        });
                                    </script>
                                {% endfor %}
                            {% endif %}
                            <h4 class="card-title">Add New User</h4>
                            <form class="forms-sample" method="post" action="{% url 'AddUser' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputUsername1">Username</label>
                                    <input type="text" name="username" class="form-control" id="exampleInputUsername1" placeholder="Username" required>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputConfirmPassword1">Confirm Password</label>
                                    <input type="password" name="c_password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Confirm Password" required>
                                </div>
                            
                                <div class="form-group">
                                    <label>Access Type</label><br>
                                    <label for="allCameras" class="ml-4">
                                        <input type="radio" id="allCameras" name="accessType" value="allCameras" class="form-check-input" checked> Access all cameras
                                    </label><br>
                                    <label class="ml-4">
                                        <input type="radio" name="accessType" value="chooseCamera" class="form-check-input"> Choose cameras access
                                    </label>
                                </div>

                                <div class="form-group hidden" id="cameraDropdown" style="max-height: 200px; overflow-y: auto;">
                                    <label>Select Cameras:</label><br>
                                    <div class="scrollable-options ml-1" >
                                        {% for camera in cameras %}
                                            <input type="checkbox" id="5" name="selected_cameras" value="{{ camera.id }}">
                                            <label for="{{ camera.name }}"> {{ camera.name }}</label><br>
                                        {% endfor %}
                                    </div>
                                </div> 
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                                <button class="btn btn-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- content-wrapper ends -->
      </div> <!-- main-panel ends -->
    </div>
  </div>
  <!-- container-scroller -->

  
{% endblock %}